<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>DM-Pad</name>

    <description>
        Utility to help Dungeon Masters manage their D&D Games 
    </description>

    <author href="https://github.com/rwadkins" email="rwadkins@twors.net">
        R Allen Wadkins
    </author>
    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation" value="both" />
     <preference name="fullscreen" value="false" />
     <preference name="webviewbounce" value="false" />
     
     <feature name="http://api.phonegap.com/1.0/network"/>
    
</widget>